<h2>Your cart</h2>

<p id="notice"><%= notice %></p>

<div class="add-item">
	<%= form_for([@cart, @line_item]) do |f| %>

	  <div class="field">
	    <%= f.label :gtin, "Bar code" %> <%= f.text_field :gtin %><button type="submit">Add</button>
	    
	  </div>
	<% end %>
</div>

<table class="cart">
  <tr>
	<th>Picture</th>
    <th>Product</th>
	<th>Price</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
  </tr>

<% @cart.line_items.each do |line_item| %>
  <tr>
	<td class="image"><%= image_tag line_item.product.picture_url %></td>
    <td><%= line_item.product.name %></td>
    <td><%= line_item.product.price %></td>
    <td><%= line_item.quantity %></td>
    <td><%= link_to 'Edit', edit_cart_line_item_path(@cart, line_item) %></td>
    <td><%= link_to 'Destroy', cart_line_item_path(@cart, line_item), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Checkout', checkout_cart_path(@cart) %>
<br />
Total: <%= number_to_currency @cart.total %>
<h2>Payment</h2>
<% if @cart.paid %>
	Already paid!
<% else %>
	<%= form_for @cart, :url => pay_cart_path(@cart), :html => { :method => :put } do |f| %>
		<%= hidden_field_tag :_method, 'PUT' %>
		<button type="submit">Paid</button>
	<% end %>
<% end %>
