<!DOCTYPE html>
<html>
<head>
  <title>Aircart</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="landing">
	<div id="landing">
		<%= yield %>
	</div>
	<%= render :partial => 'layouts/ga_tracking' %>
</body>
</html>
